html{
    height:800px;
}
body{
    background-image: url("IMAGES/Star.jpg");
    background-color:rgba(239, 233, 251, 0.752);
}
.main{
    text-align:center; 
}
.side{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-column-gap:20px;
    align-items: center;
}
.character{
    display:block;
    width:300px;
    height:300px;
    margin:50px auto;
    border:2px solid whitesmoke;
    box-shadow:10px 10px 10px rgb(236, 88, 113);
    margin-top:80px;
    margin-bottom:80px;
}
.name{
    text-align:center;
    text-decoration:underline;
    font-family:'Franklin Gothic Medium', Arial Narrow;
    color:gold;
}
button{
    display:block;
    margin:auto;
    color:rgb(11, 64, 239);
    font-size:18px;
    margin-top:100px;
}
p{
    padding:5px 5px 15px 15px;
    border:1px solid whitesmoke;
    width:300px;
    height:30px;
    margin:50px auto;
    border-radius: 10px;
    color:chartreuse;
}
.name1,.name2{
    color:rgba(249, 139, 5, 0.947)
}
